<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Marketplace</title>
    <link rel="stylesheet" href="/static/styles.css">
</head>
<body>
    <header>
        <h1>Marketplace</h1>
        <div class="buttons">
            {% if user %}
                {% if user.is_admin %}
                    <a href="/admin"><button>Профиль</button></a>
                {% else %}
                    <a href="/profile"><button>Профиль</button></a>
                {% endif %}
            {% else %}
                <a href="/login"><button>Войти</button></a>
            {% endif %}
        </div>
    </header>
    <main>
        <!-- Все скины для продажи -->
        <h2>Предметы для покупки</h2>
        <div class="card-container">
            {% for item in items %}
            <div class="card">
                <h3>{{ item.name }}</h3>
                <p class="price">{{ item.price }} руб.</p>
                {% if user %}
                    {% if not item.is_owned_by_user %}
                        <!-- Кнопка избранного -->
                        <form method="post" action="/favorites/{{ item.id }}">
                            {% if item.is_favorite %}
                            <button type="submit" class="favorite-btn filled">❤️</button>
                            {% else %}
                            <button type="submit" class="favorite-btn">🤍</button>
                            {% endif %}
                        </form>
                        <br>
                        <form method="post" action="/cart/{{ item.id }}">
                            {% if item.in_cart %}
                                <button type="button" class="cart-btn added" disabled>Добавлено в корзину</button>
                            {% else %}
                                <button type="submit" class="cart-btn">🛒 В корзину</button>
                            {% endif %}
                        </form>
                        <a href="/buy/{{ item.id }}"><button class="buy-btn">Купить</button></a>
                    {% else %}
                        <p class="info">Это ваш товар.</p>
                    {% endif %}
                {% else %}
                    <p class="info">Авторизуйтесь, чтобы добавить в избранное.</p>
                {% endif %}
            </div>
            {% endfor %}
        </div>
    </main>
    <footer>
        <p>© 2024 Marketplace</p>
    </footer>
</body>
</html>