<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Профиль пользователя</title>
    <link rel="stylesheet" href="/static/styles.css">
</head>
<body>
    <header>
        <h1>Ваш профиль</h1>
        <div class="buttons">
            <a href="/"><button>На главную</button></a>
            <form method="post" action="/logout" style="display:inline;">
                <button type="submit" class="logout-btn">Выйти</button>
            </form>
        </div>
    </header>
    <main>
        <h2>Никнейм: <strong>{{ user.username }}</strong></h2>
        <h2>Ваш баланс: <strong>{{ balance }} руб.</strong></h2>
        <div class="actions">
            {% if not user.is_seller %}
                {% if is_seller_request_pending %}
                    <p>Ваша заявка в рассмотрении</p>
                {% else %}
                    <form method="get" action="/profile/become_a_seller">
                        <button type="submit" class="become-seller-btn">Стать продавцом</button>
                    </form>
                {% endif %}
            {% else %}
                <a href="/profile/sells"><button class="seller-btn">Продажи</button></a>
            {% endif %}
        </div>        
        <section>
            <h2>Избранное</h2>
            <div class="favorites-container">
                {% for favorite in favorites %}
                <div class="favorite-item">
                    <h3>{{ favorite.name }}</h3>
                    <p class="price">{{ favorite.price or "Не оценен" }} руб.</p>
                    <!-- Кнопка удаления из избранного -->
                    <form method="post" action="/favorites/{{ favorite.item_id }}">
                        <button type="submit" class="favorite-btn filled">❤️</button>
                    </form>
                    <a href="/buy/{{ favorite.item_id }}"><button class="buy-btn">Купить</button></a>
                </div>
                {% endfor %}
            </div>
        </section>
        
        <section>
            <h2>Купленные товары</h2>
            <div class="purchases-container">
                {% for purchase in purchases %}
                <div class="purchase-item">
                    <h3>{{ purchase.name }}</h3>
                    <p class="price">Цена: {{ purchase.price }} руб.</p>
                </div>
                {% endfor %}
            </div>
        </section>
    </main>
    <footer>
        <p>© 2024 Marketplace</p>
    </footer>
</body>
</html>
